<style>
.form-horizontal .control-label {
    text-align: left;
}
#modal_agent table td, #modal_agent table th{
     border: none !important;
     font-size: 14px;
     font-family:"宋体";
 }
#modal_agent .unused{
    background: green;color:white;
    padding:3px 0;
    text-align:center;
}
#modal_agent .used{
    background: grey;color:white;
    padding:3px 0;
    text-align:center;
}
}
</style>
<div class="modal inmodal fade" id="modal_agent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h6 class="modal-title">代理员开户</h6>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom:10px">
                    <div class="col-sm-12">
                        <div class="">
                            <div class="">
                                 <h3 style="padding-left:15px;margin-top:0;margin-bottom:20px">{$list['name']}</h3>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <select class="form-control m-b input-md" name="agent_level" id="selectAgent">
                                        <option value="1">一级代理员</option>
                                        <option value="2">二级代理员</option>
                                        <option value="3">三级代理员</option>
                                        <option value="4">四级代理员</option>
                                        <option value="5">五级代理员</option>
                                    </select>
                                </div>
                                <button type="button" id="agentCode" class="btn btn-w-m btn-success">生成注册码</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="codeContainer">
                </div>
            <ul class="pagination" style="margin:0;margin-top:5px" id="agentPagination"></ul> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div> 
        </div>
    </div>
</div>
<script>
var id = {$list['id']};
getAgent(id);
$(function(){
    $("#agentCode").click(function(){
        var str = {"id":id, "agent_level":$("#modal_agent #selectAgent").val()}
        $.post("__URL__/create_agent", str, function(data){
            if(data.status == 1){
                getAgent(id);
                swal("操作成功！", "您可以使用该注册码了", "success");
            }
            else{
                sweetAlert("对不起", "您权限不足!", "error");
            }
        });
    });
    //翻页
    $("#modal_agent").on("click", "#agentPagination a", function(e){
      e.preventDefault();
      var url = $(this).attr("href");
      $.get(url, function(data){
         showData(data);
      });
    });
    //删除
    $("#modal_agent").on("click",".delBtn", function(e){
        turnOff(this, $(this).data("myid"));
    });
});

function turnOff(obj, code_id){
    swal({
        title: "您确定删除该注册码吗",
        text: "数据无价，请谨慎操作！",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: obj.title,
        closeOnConfirm: false
    }, function () {
        var str = {'id':code_id, 'status':0}
        $.post('__URL__/delete_code', str, function(data){
            if(data.status == 1)
            {
                getAgent(id);
                swal("操作成功！", "您已经" + obj.title + "。", "success");
            }
            else sweetAlert("对不起", "您权限不足!", "error");
         });  
    });
}

function getAgent(id)
{
    var str = {"id":id}
    $.get("__URL__/ajaxAgent", str, function(data){
        showData(data);
    },'JSON');
}

function showData(data)
{
    $("#codeContainer").children().remove().end().append(data.list);
    $("#agentPagination").children().remove().end().append(data.btn);
    $('#agentPagination a').unwrap('div').wrap('<li></li>');
    $('#agentPagination span').wrap('<li class="active"></li>');
}
</script>