<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="__ROOT__/Static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__ROOT__/Static/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__ROOT__/Static/css/animate.min.css" rel="stylesheet">
    <link href="__ROOT__/Static/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="__ROOT__/Static/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="__ROOT__/Static/css/pagination.css" rel="stylesheet">
    <block name="cssFile"></block>
    <script src="__ROOT__/Static/js/jquery.min.js?v=2.1.4"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <block name="content">
    </block>
</div>
    <script src="__ROOT__/Static/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- <script src="__ROOT__/Static/js/plugins/peity/jquery.peity.min.js"></script> -->
    <script src="__ROOT__/Static/js/content.min.js?v=1.0.0"></script>
    <script src="__ROOT__/Static/js/plugins/iCheck/icheck.min.js"></script>
    <!-- <script src="__ROOT__/Static/js/demo/peity-demo.min.js"></script> -->
    <script src="__ROOT__/Static/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="__ROOT__/Static/js/xzkp/xzkp.js"></script>
<block name="jsFile">
</block>
</body>
</html>
