<!DOCTYPE html>
 <html>
 <head>
 	<meta charset="UTF-8">
    <title>麦游小猪快跑监控后台</title>
    <link href="__ROOT__/Static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__ROOT__/Static/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__ROOT__/Static/css/animate.min.css" rel="stylesheet">
    <link href="__ROOT__/Static/css/style.min862f.css?v=4.1.0" rel="stylesheet">
 </head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="__ROOT__/Static/img/profile_small.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">{$Think.session.mi_game_admin.username}</strong></span>
                                <span class="text-muted text-xs block">{$Think.session.mi_game_admin.roleName}<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="J_menuItem" href="form_avatar.html">修改头像</a></li>
                                <li><a class="J_menuItem" onclick="showModal('{:U("Admin/Admin/editmy_pwd")}','modal_pwd')">更新密码</a></li>
                                <li><a class="J_menuItem" onclick="showModal('{:U("Admin/Admin/editmy")}','modal_edit')">个人资料</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{:U('Admin/Admin/logout')}">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">H+
                        </div>
                    </li>
                    <li>
                        <a href="__URL__/index">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">主页</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem"><i class="fa fa-odnoklassniki"></i> <span class="nav-label">运营商管理</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('Admin/Carrier/index')}">运营商列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="J_menuItem"><i class="fa fa-delicious"></i> <span class="nav-label">游戏</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('Admin/Game/index')}">游戏列表</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="J_menuItem"><i class="fa fa fa-bar-chart-o"></i> <span class="nav-label">统计</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('Admin/Analysize/index')}">运营商统计</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="J_menuItem"><i class="fa fa-video-camera"></i> <span class="nav-label">系统日志</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('Admin/Log/index')}">日志列表</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="J_menuItem"><i class="fa fa-user"></i> <span class="nav-label">管理员</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a class="J_menuItem" href="{:U('Admin/Admin/index')}">管理员列表</a>
                            </li>
                            <li><a class="J_menuItem" href="{:U('Admin/Admin/index_del')}">已删管理员</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="J_menuItem"><i class="fa fa-shield"></i> <span class="nav-label">权限管理</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="{:U('Admin/Role/index')}">角色管理</a></li>
                        <li><a class="J_menuItem" href="{:U('Admin/Node/index')}">权限节点</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
       <!--      <div class="row border-bottom">
       </div> -->
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="{:U('Admin/Admin/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="__URL__/welcome" frameborder="0" seamless></iframe>
            </div>
        </div>
        <!--右侧部分结束-->
        <div class="footer">
            <div class="pull-right">&copy; 2014-2015 <a href="http://www.zi-han.net/" target="_blank">麦游互动</a></div>
        </div>
        <div id="personalInfo" style="display:none"></div>
    </div>
   <script src="__ROOT__/Static/js/jquery.min.js?v=2.1.4"></script>
   <script src="__ROOT__/Static/js/bootstrap.min.js?v=3.3.6"></script>
   <script src="__ROOT__/Static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
   <script src="__ROOT__/Static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
   <script src="__ROOT__/Static/js/plugins/layer/layer.min.js"></script>
   <script src="__ROOT__/Static/js/hplus.min.js?v=4.1.0"></script>
   <script src="__ROOT__/Static/js/plugins/pace/pace.min.js"></script>
   <script src="__ROOT__/Static/js/contabs.min.js"></script>
   <script>
    function showModal(url, modalID)
    {
        $("#personalInfo").load(url, function(response,status,xhr){
            $("#" + modalID).modal('show');
            $.getScript("__ROOT__/Static/js/content.min.js?v=1.0.0", function() {});
        })
    }
   </script>
</body>
 </html> 