<extend name="Public/layout" />
<block name="content">
    <div class="container">
        <div class="row" style="margin-bottom:40px">
            <h2>您好,admin！欢迎登录小猪快跑监控后台，请选择对应菜单进行操作！</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-offset-1">
                 <p class="text-left">当前全服在线人数：2369 </p>
            </div>
            <div class="col-sm-4 col-md-pull-3">
                 <p class="text-right">活跃人数预警值：30%</p>
            </div>
        </div>
                <div class="row">
            <div class="col-sm-4 col-md-offset-1">
                 <p class="text-left">当前全服充值额：246789元  </p>
            </div>
            <div class="col-sm-4 col-md-pull-3">
                 <p class="text-right">全服充值预警值：20%</p>
            </div>
        </div>
                <div class="row">
            <div class="col-sm-4 col-md-offset-1">
                 <p class="text-left">当前全服运营商数量：6</p>
            </div>
        </div>
                  <div class="row">
            <div class="col-sm-4 col-md-offset-1">
                 <p class="text-left">当前全服会员总数：2228000</p>
            </div>
        </div>
                  <div class="row">
            <div class="col-sm-4 col-md-offset-1">
                 <p class="text-left">运营商活跃人数预警：0</p>
            </div>
        </div>
                  <div class="row">
            <div class="col-sm-4 col-md-offset-1">
                 <p class="text-left">运营商充值预警：0</p>
            </div>
        </div>
    </div>
</block>