<extend name="Public/layout" />
<block name="cssFile">
<link href="__ROOT__/Static/css/plugins/iCheck/custom.css" rel="stylesheet">
</block>
<block name="content">
  <div class="ibox-title">
    <button class="btn btn-primary btn-xs" onclick="location.reload()"><i class="fa fa-refresh"></i></button>
  </div>
<div class="ibox-content">
    <div style="margin:10px 0">
        <span class="l"><a onclick="showModal('__URL__/create', 'modal_create')" class="btn btn-success">添加角色</a></span>
         <span class="l"><a onclick="showModal('__URL__/update', 'modal_update')" class="btn btn-warning">修改角色</a></span>
         <span class="l"><a onclick="showModal('__URL__/allocate', 'modal_allocate')" class="btn btn-info">角色分配</a></span>
        <span class="l"><a onclick="del()" class="btn btn-danger">删除角色</a></span>
    </div>
        <div>
        <table id="dataTable" class="table table-border table-bordered table-hover table-bg table-sort" style="border-width:1px">
        <thead>
            <tr>
                <th width="4"></th>
                <th>角色名称</th>
                <th>描述</th>
                <th>用户</th>
            </tr>
        </thead>
        <tbody>
        <foreach name="list" item="v">
            <tr>
               <td class="idColumn">
                    <div><label style="padding-top:0.5em"><input type="checkbox" value="{$v['id']}" name="id"></label></div>
                 </td>
                <td>{$v['name']}</td>
                 <td>{$v['remark']}</td>
                <td>
                    <foreach name="v.myuser" item="singleUser">
                        {$singleUser['username']}
                    </foreach>
                </td>
            </tr>
        </foreach> 
        </tbody>
    </table>
        </div>
        <ul class="pagination" style="margin-bottom:20px">{$btn}</ul>
     <script> 
        $('.pagination a').unwrap('div').wrap('<li></li>');
        $('.pagination span').wrap('<li class="active"></li>');
    </script>   
    </div>
<div id="modalContainer" style="display:none"></div>
<script>
function showModal(url, modalID){
    var id = $(".idColumn input:checked").val();
    if(id == undefined && modalID != 'modal_create' && modalID != 'modal_allocate') return false;
    var url = url + "/id/" + id;
    $("#modalContainer").load(url, function(response, status, xhr){
        $("#" + modalID).modal('show');
        $.getScript("__ROOT__/Static/js/content.min.js?v=1.0.0", function() {});
    })
}

function del()
{
    var id = $(".idColumn input:checked").val();
     swal({
        title: "您确定要删除该角色吗",
        text: "用户绑定的角色权限会相应移除",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: '删除角色',
        closeOnConfirm: false
    }, function () {
        var str = {"id":id};
        $.post('__URL__/del', str, function(data){
            if(data.status == 1)
            {
                swal("操作成功！", "您已经删除选定角色", "success");
                location.reload();
            }
            else swal("操作失败！", data.error, "danger");
         });  
    });
}

$(function(){
  $(".idColumn input").click(function(){
        $(".idColumn input").not(this).removeAttr("checked");
    });
})
</script>
</block>